:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-color: #000000;
  --bgc-color: #ffffff;
  --background-color: #2f303a;
  --button-color: #188ce8;
  --background: #e5e5e5;
  --content-color: #f5f4fa;
  --mail-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-card-list: #eeeeee;

  --indent: 30px;
  --items: 4;
}

/* Body */
body {
  color: var(--primery-text-color);
  background-color: var(--bgc-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

/* Header */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header{
  border-bottom: 1px solid var(--border-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav {
  display: flex;
  align-items: center;
  }

/* Логотип */

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-link {
  margin-right: 92px;

  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Навигация */

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--accent-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav {
  display: flex;
}

.auth-nav .item:first-child {
  margin-right: 50px;
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .item:hover,
.auth-nav .item:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

/* Main */
/* Кнопка */

.hero-section {
  padding: 200px 0;
  text-align: center;

  background-color: var(--background-color);
}

.hero-caption {
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  color: var(--bgc-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-text-color);
  background-color: var(--button-color);
  cursor: pointer;
}

/* Особенности */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aside-title {
  padding-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.aside-text {
  line-height: 1.71;
}

/* Что мы делаем */

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-secondary {
  padding-top: 0;
  --items: 3;
}

/* Команда */

.content {
  background-color: var(--content-color);
}

.content-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.card-team{
  padding: 30px 0;
}

.content-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.content-text {
   font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.box {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.box-link {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.box-logo {
  color: var(--bgc-color);
}


.box-list-item:not(:last-child){
  margin-bottom: 9px;
}

.box-contact {
    color: var(--bgc-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.box-mail {
   color: var(--mail-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.box-tel {
  color: var(--mail-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.box-mail:hover,
.box-mail:focus,
.box-tel:hover,
.box-tel:focus {
  color: var(--accent-text-color);
}

/* Портфолио */

.portfolio {
  --items: 3;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list {
  margin-right: 8px;
}
.filter-list:last-child {
  margin-right: 0;
}

.filter .active {
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-button {
  color: var(--title-text-color);
  background-color: var(--content-color);
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-button:hover,
.filter-button:focus {
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
}

.card-container {
  padding: 20px 24px;
   border: 1px solid var(--border-card-list);
   border-top: none;
}

.card-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-subtitle {
  font-size: 16px;
  line-height: 1.88;
}
